body {
  background: lightblue;
}

table.table{
padding: 10px;
border: 5px solid;
}
tr{
}
button.upload:hover{
  background-color: yellow;
}

p#greet{
  color: blue;
}

td.comment-td{
  align: center;
}

